.Search{
  display: flex;
  justify-content: left;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 1rem;
  gap: 1rem;
  padding: 0.5rem 1rem; 
  max-width: 600px;
  margin: 5rem auto;
}


.Search img{
  width: 1rem;
  margin-left: 0.8rem;
}

.Search input{
  border: none;
  outline: none;
}
